* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

body {
    background-color: #004047;
    color: white;
}

header .container {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

header nav ul {

    display: flex;
    align-items: center;
    gap: 50px;
}

.a {
    display: flex;
    align-items: center;
    gap: 150px;
    justify-content: center;
    padding: 100px;
}

h1 {
    font-size: 60px
}


button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: inherit;
    color: white;
    border-color: white;
}

.one {
    color: #79C8C7;
}

.two {
    font-family: Livvic;
}

h2{
    font-size: 35px;
    text-align: center;
}

.card{
    width: 350px;
    height: 274px;
    background-color: #012F34;
    text-align: center;
    padding: 30px;
}


.ota{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 50px;
}
.c{
    display: flex;
    gap: 80px;
justify-content: center;
flex-wrap: wrap;
}

.d{
    display: flex;
    align-items: center;
    height: 200px;
    background-color: #F67E7E;
    gap: 263px;
    color: black;
}

.button {
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: inherit;
    color: black;
    border-color: black;
}
@media (max-width:768px ) {
    .header .container {
        display: flex;
        width: 15px;
    }
    
}


@media (max-width:368px ) {
.c{
    gap:50px;
}
    
}

